  {% load i18n %}
  {% load pagination_tags %}

  <div class="table-responsive">
  	<table class="table">
  		<thead>
	  		<tr>
	  			<th class="hidden-xs hidden-sm"></th>
		  		<th>{% trans "School" %}</th>
		  		<th class="hidden-xs hidden-sm">{% trans "County" %}</th>
		  		<th class="hidden-xs">
		  			{% if sort == "-kcse_students" %}
		  				<a href="?sort=kcse_students" class="sort-link">{% trans "No. of students" %}
		  				{% if sort == "kcse_students" or sort == "-kcse_students" %}<i class="glyphicon glyphicon-chevron-down"></i>{% endif %}
		  			{% else %}
		  				<a href="?sort=-kcse_students" class="sort-link">{% trans "No. of students" %} 
		  				{% if sort == "kcse_students" or sort == "-kcse_students" %}<i class="glyphicon glyphicon-chevron-up"></i>{% endif %}
		  			{% endif %}		  			
		  			</a>
		  		</th>
		  		<th>
		  			{% if sort == "-kcse_mean" %}
		  				<a href="?sort=kcse_mean" class="sort-link">{% trans "Mean Grade" %}
		  				{% if sort == "kcse_mean" or sort == "-kcse_mean" %}<i class="glyphicon glyphicon-chevron-down"></i>{% endif %}
		  			{% else %}
		  				<a href="?sort=-kcse_mean" class="sort-link">{% trans "Mean Grade" %}
		  				{% if sort == "kcse_mean" or sort == "-kcse_mean" %}<i class="glyphicon glyphicon-chevron-up"></i>{% endif %}
		  			{% endif %}		  			
		  			</a>
		  		</th>
		  		<th class="hidden-xs">
		  			{% if sort == "-A" %}
		  				<a href="?sort=A" class="sort-link">{% trans "No. of As" %}
		  				{% if sort == "A" or sort == "-A" %}<i class="glyphicon glyphicon-chevron-down"></i>{% endif %}
		  			{% else %}
		  				<a href="?sort=-A" class="sort-link">{% trans "No. of As" %}
		  				{% if sort == "A" or sort == "-A" %}<i class="glyphicon glyphicon-chevron-up"></i>{% endif %}
		  			{% endif %}		  			
		  			</a>
		  		</th>
	  		</tr>
  		</thead>
  		<tbody>
		{% for object in object_list %}
			<tr>
				<td class="hidden-xs hidden-sm">{{forloop.counter0|add:page_obj.start_index}}</td>
				<td><a href="{{object.get_absolute_url}}">{{object.name|title}}</a></td>
				<td class="hidden-xs hidden-sm">{{object.county.name|title}}</td>
				<td class="hidden-xs">{{object.kcse_students}}</td>	
				<td>{{object.kcse_mean|floatformat:2}}</td>	
				<td class="hidden-xs">{{object.A}}</td>					
			</tr>
		{% endfor %}
		</tbody>
  	</table>
  </div>