  {% load i18n %}

  <div class="table-responsive">
  	<table class="table">
  		<thead>
	  		<tr>
	  			<th class="hidden-xs hidden-sm"></th>
		  		<th>{% trans "School" %}</th>
		  		<th class="hidden-xs hidden-sm">{% trans "County" %}</th>
		  		<th class="hidden-xs">{% trans "No. of students" %}</th>
		  		<th>{% trans "Mean Grade" %}</th>
		  		<th class="hidden-xs">{% trans "No. of As" %}</th>
	  		</tr>
  		</thead>
  		<tbody>
		{% for object in object_list %}
			<tr>
				<td class="hidden-xs hidden-sm">{{forloop.counter}}</td>
				<td><a href="{{object.get_absolute_url}}">{{object.name|title}}</a></td>
				<td class="hidden-xs hidden-sm">{{object.county.name|title}}</td>
				<td class="hidden-xs">{{object.kcse_students}}</td>	
				<td>{{object.kcse_mean|floatformat:2}}</td>	
				<td class="hidden-xs">{{object.A}}</td>					
			</tr>
		{% endfor %}
		</tbody>
  	</table>
  </div>