{% extends "base.html" %}
{% load i18n %}
{% load cache %}
{% load pagination_tags %}

{% cache 86400 place object.meta.verbose_name object.pk current_page %}
	{% block title %}{{object.name|title}} {{object.meta.verbose_name}} {% trans "Schools" %} | {{site.name}}{% endblock %}
	{% block meta_keywords %}<meta name="keywords" content="{{object.name}}" />{% endblock %}
	{% block meta_description %}
		<meta name="description" content='{% trans "Schools in" %} {{object.name|title}} {{object.meta.verbose_name}}' />
	{% endblock %}

	{% block breadcrumbs %}{% include "places/snippets/breadcrumbs.html" with object=object %}{% endblock %}
	
	{% block main_content %}

		<header>
			<h1>{{object.name|title}} {{object.meta.verbose_name}}</h1>
		</header>

		<div class="panel panel-default">
		  <div class="panel-heading">
		    <h3 class="panel-title">{% trans "Quick Info" %} </h3>
		  </div>
		  <div class="panel-body">
		  	<p>{{object.name|title}} {{object.meta.verbose_name}} {% trans "has" %}:
				<ul>
					<li>{{object.school_count}} {% trans "total schools." %}</li>
					<li>{{object.primary_school_count}} {% trans "primary schools." %}</li>
					<li>{{object.secondary_school_count}} {% trans "secondary schools." %}</li>
				</ul>
		  	 </p>
		  </div>
		</div>

		<hr>
		{% if top_school_list %}
		<div class="panel panel-default">
		  <div class="panel-heading">
		    <h3 class="panel-title">{% trans "Top Secondary Schools in" %} {{object.name|title}} {{object.meta.verbose_name}}</h3>
		  </div>
		  <div class="panel-body">
		  	 {% include "kcse/snippets/ranked_school_list_no_order.html" with object_list=top_school_list|slice:":5" %}

		  	 <a href="{% url 'kcse:location' model_name=object.meta.model_name pk=object.pk slug=object.slug %}" class="btn btn-info btn-sm">{% trans "More" %}</a>
		  </div>
		</div>

		<hr>
		{% endif %}

		{% autopaginate school_list %}
		
		{% include "schools/snippets/school_list.html" with schools=school_list %}

		<div class="clearfix text-center">{% paginate %}</div>

	{% endblock %}
{% endcache %}