{% extends "base.html" %}
{% load i18n %}
{% load cache %}
{% load pagination_tags %}
{% load humanize %}

{% cache 86400 all_rankings year current_page %}
	{% block title %}{% trans "The Best Secondary Schools in Kenya" %} | {{site.name}}{% endblock %}
	{% block meta_keywords %}<meta name="keywords" content='{% trans "Best Secondary Schools" %}' />{% endblock %}
	{% block meta_description %}
		<meta name="description" content='{% trans "The Best Secondary Schools in Kenya" %}' />
	{% endblock %}

	
	
	{% block main_content %}

		<header>
			<h1>{% trans "The Best Secondary Schools in Kenya" %} {{year}}</h1>
		</header>

		<div class="panel panel-default">
		  {% autopaginate object_list %}

		  <div class="table-responsive">
		  	<table class="table">
		  		<thead>
			  		<tr>
			  			<th></th>
				  		<th>{% trans "School" %}</th>
				  		<th>{% trans "County" %}</th>
				  		<th>{% trans "No. of students" %}</th>
				  		<th>{% trans "Mean Grade" %}</th>
				  		<th>{% trans "No. of As" %}</th>
			  		</tr>
		  		</thead>
		  		<tbody>
				{% for object in object_list %}
					<tr>
						<td>{{forloop.counter}}</td>
						<td><a href="{{object.get_absolute_url}}">{{object.name|title}}</a></td>
						<td>{{object.county.name|title}}</td>
						<td>{{object.kcse_students}}</td>	
						<td>{{object.kcse_mean|floatformat:2}}</td>	
						<td>{{object.A}}</td>					
					</tr>
				{% endfor %}
				</tbody>
		  	</table>
		  </div>

		  <div class="clearfix text-center">{% paginate %}</div>
		</div>

	{% endblock %}
{% endcache %}