{% extends "base.html" %}
{% load i18n %}
{% load cache %}

{% cache 86400 homepage %}
	{% block main_content %}
		<p><strong>{% trans "ShuleZote" %}</strong> {% trans "has profiles for more than 30,000 public, and private schools in Kenya." %}</p>

		<p>{% trans "Start your search for a great school at" %} <strong>{% trans "ShuleZote.co.ke" %}</strong>! {% trans "We are building a resource for you to find, compare, review and share great schools in Kenya!" %} </p>


		<div class="share-buttons">	
			<div class="share-item">
				<iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2F{{site.domain}}&amp;width=150&amp;layout=button_count&amp;action=like&amp;show_faces=false&amp;share=true&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:150px; height:21px;" allowTransparency="true"></iframe>
			</div>	
			<div class="share-item">
				<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://{{site.domain}}" data-via="shulezote">{% trans "Tweet" %}</a>
				<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
			</div>
		</div>

		<hr>

		{% if top_secondary_schools %}
		<div class="panel panel-default">
		  <div class="panel-heading">
		    <h3 class="panel-title">{% trans "Top Secondary Schools in Kenya" %}</h3>
		  </div>
		  <div class="panel-body">
		  	 {% include "kcse/snippets/ranked_school_list_no_order.html" with object_list=top_secondary_schools|slice:":10" %}

		  	 <a href="{% url 'kcse:all_schools' %}" class="btn btn-info btn-sm">{% trans "More" %}</a>
		  </div>
		</div>

		<hr>
		{% endif %}

		<div class="col-md-12"><h4>{% trans "Featured Schools" %}</h4></div>

		{% include "schools/snippets/school_list.html" with schools=object_list|slice:":6" %}

	{% endblock %}
{% endcache %}