{% load i18n %}
<div class="share-buttons">	
	<div class="share-item">
		<iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fshulezote.co.ke{{object.get_absolute_url|urlencode:''}}&amp;width=150&amp;layout=button_count&amp;action=like&amp;show_faces=false&amp;share=true&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:150px; height:21px;" allowTransparency="true"></iframe>
	</div>	
	<div class="share-item">
		<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://shulezote.co.ke{{object.get_absolute_url}}" data-via="shulezote">{% trans "Tweet" %}</a>
		<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
	</div>
</div>